@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/bebasneueregular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/bebasneuebold.woff2") format("woff2");
    font-weight: 600;
}

