

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: $font1;
    font-weight: normal;
    font-size: 16px;
    color: $yellow;
    background-color: $black;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit
}

select {
    outline: 0;
}

input {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}


img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

h1 {
    font-family: $font2;
    font-size: 56px;
    line-height: 64px;

    @media (max-width: $md) {
        font-size: 30px;
        line-height: 40px;
    }
}

h2 {
    font-family: $font2;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media (max-width: $md) {
        font-size: 28px;
        line-height: 30px;
    }
}

h3 {
    font-family: $font2;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    @media (max-width: $md) {
        font-size: 26px;
        line-height: 26px;
    }
}

p {
    font-weight: 300;
}

input {

}