.container {
    max-width: 1144px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.button {
    text-transform: uppercase;
    background-color: $red;
    padding: 20px 32px;
    display: inline-block;
    box-shadow: 0px 16px 32px rgba(100, 45, 46, 0.32);
    border-radius: 32px;
    transition: opacity .2s;

    @media (max-width: $sm) {
        padding: 10px 15px;
    }

    &:hover {
        opacity: .8;
    }

    span {
        display: flex;
        align-items: center;
        color: #DFDAC7;

        @media (max-width: $sm) {
            font-size: 14px;
        }
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/down_icon-full.svg);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 19px;

        }
    }
}

.text-border {
    position: relative;
    padding-left: 32px;

    @media (max-width: $sm) {
        padding-left: 15px;
    }

    &::before {
        content: '';
        border-left: 3px solid #642D2E;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;

    }

    &__title {
        font-size: 160px;
        line-height: 160px;
        font-family: $font2;
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
            font-size: 80px;
            line-height: 80px;
        }

        @media (max-width: $sm) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    span {
        font-size: 64px;
        margin-left: 26px;

        @media (max-width: 1200px) {
            font-size: 40px;
            line-height: 40px;
        }

        @media (max-width: $sm) {
            font-size: 30px;
            line-height: 30px;
            margin-left: 16px;
        }
    }

    &__text {
        opacity: 0.72;
        font-size: 24px;
        line-height: 32px;
        margin-top: 8px;

        @media (max-width: $sm) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

input, textarea {
    width: 100%;
    border: 1px solid rgba($yellow, .2);
    box-sizing: border-box;
    border-radius: 16px;
    background-color: transparent;
    padding: 28px 24px;
    margin-bottom: 8px;
    color: rgba($yellow, 0.64);
    font-weight: 600;
    font-size: 16px;

    @media (max-width: $sm) {
        padding: 15px;
        font-size: 14px;
    }
}

input::placeholder, textarea::placeholder {
    color: rgba($yellow, 0.64);
    font-weight: 600;
    font-size: 16px;

    @media (max-width: $sm) {
        font-size: 14px;
    }
}

textarea {
    height: 160px;
    resize: none;
}

#slider {
    width: 100%;
    height: 8px;
    border: 0;
    box-shadow: 0px 16px 32px rgba(100, 45, 46, 0.32);
    border-radius: 32px;
    background: $red;
    outline: none;
    position: relative;
    margin-bottom: 56px;

    @media (max-width: $sm) {
        margin-bottom: 36px;
    }
  }

  #slider .ui-slider-handle {
    position: absolute;
    margin: -23px 0 0 -17px;
    border-radius: 50%;
    background: $red;
    color: #DFDAC7;
    border: 0;
    text-align: center;
    width: 56px;
    height: 56px;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $sm) {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: -11px 0 0 -17px;
    }
  }
  #slider .ui-slider-handle:hover,
  #ransliderge .ui-slider-handle:focus {
    transform: scale(1.1);
  }
  #slider .ui-slider-range {
    background: #69b6b5;
  }


  .privacy-policy {
      padding: 30px 0 ;

      @media (max-width: 1200px) {
        padding: 30px 10px;
      }
  }

  .smoke-bg {
    max-width: max-content;
    animation-name: moveSmoke;
    animation-duration: 100s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes moveSmoke {
    from {
        transform: translateX(-40%);
      }

    50% {
        transform: translateX(20%);
    }
    to {
        transform: translateX(-40%);
    }
}

.popup-thankyou {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 11;
    display: none;

    &::before {
        content: '';
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 11;
    }

    .popup-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__wrap {
        max-width: 510px;
        background-color: #e5e5e5;
        padding: 72px 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 11;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/calc.jpg);
        background-size: cover;
        border-radius: 32px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $sm) {
            padding: 20px;
        }
        
    }

    &__img {
        margin-bottom: 27px;
    }

    &__title {
        font-family: $font2;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.04em;
        margin-bottom: 8px;

        @media (max-width: $sm) {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__subtitle {
        font-weight: 300;
        margin-bottom: 72px;

        @media (max-width: $sm) {
            margin-bottom: 42px;
        }
    }

    .button {
        color: #fff;
        width: 100%;
        letter-spacing: 0.04em;
    }
}

.popup-close {
    width: 27px;
    height: 27px;
    background-color: rgba(#fff, 0.08);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.d-block {
    display: block !important;
}

.hamburger {
    display: block;
    width: 30px;
    height: 15px;
    position: relative;

    span {
        display: block;
        width: 100%;
        background-color: $yellow;
        height: 2px;
        position: absolute;
    }

    span:first-child {
        top: 0;
    }

    span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    span:last-child {
        bottom: 0;
    }
}

.hamburger--active {
    span:first-child, span:last-child {
        top: 50%;
    }

    span:nth-child(2) {
        display: none;
    }

    span:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    span:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}