//цвета
$yellow: #DFDAC7;
$black: #1e1e1e;
$red: #642D2E;


$font1: 'Open Sans', sans-serif;
$font2: 'Bebas Neue', cursive;



//брекпоинты
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1499px;