.faq {
    padding-top: 48px;
    padding-bottom: 236px;

    @media (max-width: 1200px) {
        padding-bottom: 100px;
    }

    @media (max-width: $md) {
        padding-bottom: 50px;
    }
    &__title {
        text-align: center;
        margin-bottom: 88px;

        @media (max-width: $md) {
            margin-bottom: 30px;
        }
    }
}

.faq-content-item {
    border-bottom: 1px solid rgba($yellow, 0.24);
    margin-bottom: 20px;
    &__title {
        font-family: $font2;
        font-size: 24px;
        line-height: 32px;
        color: rgba($yellow, .7);
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: 10px;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        @media (max-width: $md) {
            font-size: 20px;
            line-height: 24px;
        }

        span {
            color: $yellow;
            font-size: 50px;
            transition: transform .3s;
            width: 19px;
            height: 19px;

            @media (max-width: $md) {
                font-size: 30px;
            }
        }
    }

    &__text {
        color: rgba($yellow, .8);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        margin-bottom: 10px;

        @media (max-width: $md) {
            font-size: 14px;
        }
    }
}

.faq-content-item--active {
    .faq-content-item__text {
        display: block;
    }

    .faq-content-item__title {
        color: $yellow;

        span {
            transform: rotate(135deg);
        }
    }
}