.footer {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &__wrap {
        padding-top: 56px;
        padding-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;


        @media (max-width: 1200px) {
            flex-direction: column;
        }

        @media (max-width: $md) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

    }

    .smoke-bg {
        position: absolute;
        bottom: -400px;
    }
}

.footer-text {
    max-width: 472px;

    @media (max-width: 1200px) {
        margin-bottom: 50px;
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.04em;
        margin-bottom: 12px;
        font-family: $font2;

        @media (max-width: $md) {
            font-size: 26px;
            line-height: 26px;
        }
    }

    &__phone {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.04em;
        margin-bottom: 8px;
        margin-top: 64px;
        font-family: $font2;
        display: block;

        @media (max-width: 1200px) {
            margin-top: 40px;
            font-size: 30px;
            line-height: 30px;
        }
    }

    &__mail {
        font-family: $font2;
        opacity: 0.7;
        font-size: 24px;
        line-height: 32px;
    }
}

.footer-form {
    max-width: 568px;
}

.footer-form {
    background-color: rgba(#000, .64);
    border-radius: 32px;
    padding: 40px;
    padding-bottom: 56px;

    @media (max-width: $md) {
        padding: 20px;
    }

    &__title {
        text-align: center;
        letter-spacing: 0.04em;
        font-size: 32px;
        line-height: 48px;
        font-family: $font2;
        margin-bottom: 24px;
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
    }
}

.footer-bottom {
    padding: 40px 0;
    border-top: 1px solid rgba(#aca691, .16);
    position: relative;

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: $sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__element {
        opacity: 0.9;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;

        @media (max-width: $sm) {
            margin-bottom: 15px;
        }
    }

    a.footer-bottom__element {
        border-bottom: 1px solid rgba($yellow, .9);
        transition: opacity .3s;

        &:hover {
            opacity: .8;
        }
    }
}

.form-privacy {
    text-decoration: underline;
}
