.header {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(#000, 0) 0%, #000);
    }

    &__wrap {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100vh;
        position: relative;

        @media (max-width: $lg) {
            height: 650px;
        }

        @media (max-width: $md) {
            height: 500px;
        }

        @media (max-width: $sm) {
            height: 400px;
        }
    }

    .smoke-bg {
        position: absolute;
        bottom: 0;
        bottom: -500px;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#DFDAC7, .24);
    position: relative;

    @media (max-width: $lg) {
        padding: 20px 0;
    }

    &__contacts {
        @media (max-width: $sm) {
            font-size: 12px;
        }
    }

    &__logo {
        @media (max-width: $sm) {
            max-width: 80px;
        }
    }


    &__contacts-number {
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__contacts-link {
        line-height: 16px;
        text-decoration: underline;
        display: block;
        transition: opacity .3s;

        &:hover {
            opacity: .8;
        }
    }
}

.header-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

.header-nav {
    display: flex;
    align-items: center;

    @media (max-width: $lg) {
        position: absolute;
        top: 86px;
        left: -10px;
        right: -10px;
        width: calc(100% + 20px);
        background-color: #1e1e1e;
        flex-direction: column;
        z-index: 11;
        display: none;
    }

    @media (max-width: $sm) {
        top: 79px;
    }

    &__item {
        display: block;
        padding: 40px 0;
        transition: opacity .3s;

        &:hover {
            opacity: .8;
        }

        @media (max-width: $lg) {
            padding: 10px 0;
            margin-bottom: 20px;
        }

        @media (max-width: $sm) {
            margin-bottom: 10px;
        }

    }

    &__item:not(:last-child) {
        margin-right: 56px;
        @media (max-width: $lg) {
            margin-right: 0;
        }
    }
}

.header-nav--active {
    @media (max-width: $lg) {
        display: flex;
    }
}

.hamburger-wrap {
    width: 108px;
    display: flex;
    justify-content: flex-end;
    display: none;

    @media (max-width: $sm) {
        width: 80px;
    }

    @media (max-width: $lg) {
        display: flex;
    }
}

.header-content {
    margin: auto 0;
    position: relative;

    &__title {
        max-width: 600px;
        margin-bottom: 16px;
    }

    &__description {
        font-size: 24px;
        line-height: 40px;
        opacity: 0.8;
        margin-bottom: 84px;

        @media (max-width: $md) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 40px;
        }

        @media (max-width: $sm) {
            margin-bottom: 20px;

        }
    }
}