.high-demand {
    background-size: cover;
    background-repeat: no-repeat;

    &__wrap {
        padding-top: 96px;
        padding-bottom: 152px;
        max-width: 750px;

        @media (max-width: 1200px) {
            padding-top: 90px;
            padding-bottom: 100px;
            max-width: 100%;
        }

        @media (max-width: $md) {
            padding: 50px 0;
        }
    }

}

.high-demand-percent {
    display: flex;
    margin-top: 48px;

    @media (max-width: $md) {
        flex-direction: column;
    }

    &__item:not(:last-child) {
        margin-right: 114px;

        @media (max-width: $md) {
            margin-right: 0;
            margin-bottom: 40px;
        }
    }
}