.payback {
    padding-top: 170px;
    padding-bottom: 172px;

    @media (max-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: $md) {
        padding: 50px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

    }
}

.payback-text {
    max-width: 378px;

    @media (max-width: 1200px) {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 50px;

        @media (max-width: $sm) {
            margin-bottom: 30px;
        }
    }

    .text-border {
        margin-bottom: 39px;

        @media (max-width: $sm) {
            margin-bottom: 30px;
        }
    }
}

.payback-calc {
    border-radius: 32px;
    min-width: 568px;
    overflow: hidden;
    background-image: url(../img/calc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 48px;
    padding-bottom: 64px;

    @media (max-width: $md) {
        min-width: 100%;
        padding: 20px;
        padding-bottom: 40px;
    }

    &__title {
        font-family: $font2;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.04em;
        margin-bottom: 62px;
        text-align: center;

        @media (max-width: $md) {
            font-size: 20px;
            margin-bottom: 30px;

        }
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 8px;

        span {
            &::after {
                display: none;
            }
        }
    }
}

.payback-calc-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;


    &__item {
        border-radius: 16px;
        border: 1px solid rgba(#DFDAC7, .16);
        padding-top: 24px;
        padding-bottom: 28px;
        text-align: center;

        @media (max-width: $sm) {
            padding: 10px 0;
        }
    }

    &__item-title {
        font-weight: 600;
        line-height: 16px;
        color: rgba($yellow, .48);
        margin-bottom: 4px;

        @media (max-width: $sm) {
            font-size: 16px;
        }
    }

    &__item-price {
        font-size: 24px;
        line-height: 32px;
        font-family: $font2;

        @media (max-width: $sm) {
            font-size: 16px;
        }
    }

    &__item:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }


}