.reviews {
    background-image: url(../img/reviews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 182px;
    padding-bottom: 16px;

    @media (max-width: 1200px) {
        padding-top: 100px;
    }

    @media (max-width: $md) {
        padding-top: 50px;
    }

    h3 {
        margin-bottom: 50px;
    }
}

.reviews-sliders {
    .swiper-slide {
        width: 30%;

        @media (max-width: 1450px) {
            width: 40%;
        }

        @media (max-width: 1200px) {
            width: 50%;
        }

        @media (max-width: $lg) {
            width: 100%;
        }
    }
}

.reviews-slider-1 {
    margin-bottom: 16px;
}

.reviews-card {
    background: rgba(0, 0, 0, 0.64);
    border-radius: 32px;
    padding: 40px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;

    @media (max-width: $sm) {
        flex-direction: column;
        padding: 10px;
    }

    img {
        border-radius: 50%;
        margin-right: 40px;

        @media (max-width: $sm) {
            max-width: 70px;
            margin-right: 0;
            margin-bottom: 30px;
        }

    }

    &__title {
        font-family: $font2;
        font-size: 24px;
        line-height: 32px;

        @media (max-width: $sm) {
            font-size: 22px;
            text-align: center;
        }
    
    }
}