.total {
    padding-top: 168px;
    padding-bottom: 206px;
    position: relative;
    overflow: hidden;

    @media (max-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: $md) {
        padding-top: 50px;
        padding-bottom: 50px; 
    }

    .smoke-bg {
        position: absolute;
        top: -300px;
    }

    &__title {
        text-align: center;
        margin-bottom: 56px;
        position: relative;

        @media (max-width: $sm) {
            margin-bottom: 30px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        position: relative;

        @media (max-width: $md) {
            flex-direction: column;
        }
    }

    &__item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $md) {
            margin-bottom: 50px;
        }

        span {
            display: block;
            max-width: 231px;
            text-align: center;
            font-size: 24px;
            line-height: 32px;

            @media (max-width: $md) {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

.total-item {
    width: 148px;
    height: 148px;
    background: $red;
    border-radius: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 31px;

    @media (max-width: $md) {
        width: 70px;
        height: 70px;
        background-size: 40%;
        border-radius: 12px;
        margin-bottom: 15px;
    }
}

.total-item--time {
    background-image: url(../img/icons/time.svg);
}

.total-item--download {
    background-image: url(../img/icons/downlaod.svg);
}

.total-item--rent {
    background-image: url(../img/icons/activity.svg);
}