.why-buy {
    padding-top: 166px;
    padding-bottom: 216px;

    @media (max-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (max-width: $md) {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 152px;

        @media (max-width: 1200px) {
            margin-bottom: 80px;
        }

        @media (max-width: $md) {
            margin-bottom: 40px;
        }
    }
}

.why-buy-sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    h4 {
        margin-bottom: 24px;
    }

    &__img-slider {
        max-width: 472px;
        position: relative;

        @media (max-width: 1200px) {
            margin-bottom: 80px;
        }

        @media (max-width: $sm) {
            max-width: 100%;
        }

        .button-arrow {
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 2;
            transform: translate(50%, -50%);

            @media (max-width: 1200px) {
                bottom: 0;
                top: auto;
                right: 50%;
                transform: translate(50%, 50%);
            }
        }
    }
}

.square-big, .square-small {
    position: absolute;
    width: 100%;
    border-radius: 32px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: $sm) {
        display: none;
    }

}

.square-big {
    height: 80%;
    left: -44px;
    background: #DFDAC7;
    opacity: 0.56;

}

.square-small {
    height: 60%;
    left: -88px;
    background: #DFDAC7;
    opacity: 0.08;
}

.why-buy-text-slider {
    max-width: 462px;

    @media (max-width: $sm) {
        max-width: 100%;
    }
}

.why-buy-img-slider {
    &__img {
        border-radius: 32px;
        overflow: hidden;
    }

}

.button-arrow {
    width: 88px;
    height: 88px;
    background: $red;
    box-shadow: 0px 16px 32px rgba(100, 45, 46, 0.32);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
        opacity: .95;
    }

    @media (max-width: $sm) {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    span {
        display: block;
        width: 10px;
        height: 10px;
        border-right: 1px solid #DFDAC7;
        border-bottom: 1px solid #DFDAC7;
        transform: rotate(-45deg);

        @media (max-width: $sm) {
            width: 5px;
            height: 5px;
        }
    }
}