.work-experience {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.712378) 49.03%, rgba(0, 0, 0, 0) 65.49%);

    }

    @media (max-width: 1200px) {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(#000, .5);

        }
    }


    &__wrap {
        padding: 112px 0;
        max-width: 367px;
        margin-left: auto;
        position: relative;
        z-index: 1;

        @media (max-width: 1200px) {
            padding: 100px 0;
            max-width: 100%;
            position: relative;
        }

        @media (max-width: $md) {
            padding: 50px 0;
        }
    }

    h3 {
        margin-bottom: 57px;

        @media (max-width: $md) {
            margin-bottom: 30px;
        }
    }

    .text-border {
        margin-bottom: 40px;

        @media (max-width: $md) {
            margin-bottom: 30px;
        }
    }
}

.work-experience-bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .4s;
}

.work-experience-bg--active {
    animation-name: slideshow;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 1;
    transition: opacity .4s;
}

@keyframes slideshow {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
  }