<section class="faq" id="faq">
    <div class="container">
        <h3 class="faq__title">Вопрос ответ</h3>
        <div class="faq-content">
            <div class="faq-content-item">
                <div class="faq-content-item__title">
                    Adipiscing elit, sed do eiusmod tempor?
                    <span>+</span>
                </div>
                <div class="faq-content-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>

            <div class="faq-content-item">
                <div class="faq-content-item__title">
                    Adipiscing elit, sed do eiusmod tempor?
                    <span>+</span>
                </div>
                <div class="faq-content-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>

            <div class="faq-content-item">
                <div class="faq-content-item__title">
                    Adipiscing elit, sed do eiusmod tempor?
                    <span>+</span>
                </div>
                <div class="faq-content-item__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </div>
            </div>
        </div>
    </div>
</section>