<footer class="footer" id="footer">
    <img src="img/header_smoke.png" alt="" class="smoke-bg">
    <div class="container footer__wrap">
        <div class="footer-text">
            <div class="footer-text__title">Готовы сотрудничать?</div>
            <p>Оставьте заявку и наш менеджер свяжется с вами как можно скорее. Либо можете позвонить нам по телефону или написать на e-mail</p>

            <a href="tel:88005553535" class="footer-text__phone">8 800 555 35 35</a>
            <a href="mailto:franchise@tabdjo.com" class="footer-text__mail">franchise@tabdjo.com</a>
        </div>
        <form action="" class="footer-form">
            <div class="footer-form__title">Оставить заявку</div>

            <input type="text" required minlength="2"
            placeholder="Как вас зовут?">
            <input type="tel" required
            placeholder="Ваш телефон" id="phone">
            <input type="email" required
            placeholder="Ваш e-mail">
            <textarea placeholder="Комментарий"></textarea>
            <button class="button"><span>Отправить заявку</span></button>
        </form>
    </div>
    <div class="footer-bottom">
        <div class="container footer-bottom__wrap">
            <div class="footer-bottom__element">
                © Табачный Джо Франшиза. 2021
            </div>
            <a target="_blank" href="privacy-policy.html" class="footer-bottom__element">
                Политика конфиденциальности
            </a>
        </div>
    </div>
</footer>