<header class="header" style="background-image: url(img/header-bg.jpg)">
    <img src="img/header_smoke.png" alt="" class="smoke-bg">
    <img src="img/header_down_gradient.png" alt="" class="header-gradient">
    <div class="container header__wrap">
        <div class="header-top">
            <img src="img/logo/logo.svg" class="header-top__logo">
            <nav class="header-nav">
                <a href="#why-buy" class="scroll-link header-nav__item">Почему мы</a>
                <a href="#payback" class="scroll-link header-nav__item">Калькулятор</a>
                <a href="#reviews" class="scroll-link header-nav__item">Отзывы</a>
                <a href="#faq" class="scroll-link header-nav__item">Вопрос ответ</a>
            </nav>
            <div class="header-top__contacts">
                <a href="tel:88005553535" class="header-top__contacts-number">8 800 555 35 35</a>
                <a href="#footer" class="scroll-link header-top__contacts-link">Оставить заявку</a>
            </div>
            <div class="hamburger-wrap">
                <button class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

        </div>

        <div class="header-content">
            <h1 class="header-content__title">Откройте свой прибыльный табачный магазин</h1>
            <div class="header-content__description">Франшиза с прибылью от 150 000 ₽ / мес.</div>
            <a href="#why-buy" class="scroll-link button">
                <span>Узнать больше</span>
            </a>
        </div>
    </div>

</header>