<section class="high-demand" id="high-demand" style="background-image: url(img/demand-bg.jpg);">
    <div class="container ">
        <div class="high-demand__wrap">
            <h3>Высокий спрос</h3>
            <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</p>

            <div class="high-demand-percent">
                <div class="high-demand-percent__item text-border">
                    <div class="text-border__title">
                        5
                    </div>
                    <div class="text-border__text">
                        Каждый 5й <br> россиянин курит
                    </div>
                </div>
                <div class="high-demand-percent__item text-border">
                    <div class="text-border__title">
                        22,5%
                    </div>
                    <div class="text-border__text">
                        22,5% россиян курят <br>  ежедневно
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>