<section class="payback" id="payback">
    <div class="payback__wrap container">
        <div class="payback-text">
            <h3 class="payback-text__title">
                Окупаемость
            </h3>
            <div class="text-border">
                <div class="text-border__title">
                    4  <span>
                        месяца
                    </span>
                </div>
            </div>
            <p>
                Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст не создан.
            </p>
        </div>

        <div class="payback-calc">
            <div class="payback-calc__title">
                Количество магазинов
            </div>

            <div id="slider">
                <div id="custom-handle" class="ui-slider-handle"></div>
            </div>
            <div class="payback-calc-items">
                <div class="payback-calc-items__item">
                    <div class="payback-calc-items__item-title">
                        Выручка за месяц
                    </div>
                    <div class="payback-calc-items__item-price">
                        <span data-price="450000" class="js-monthly-revenue">450000</span> ₽
                    </div>
                </div>

                <div class="payback-calc-items__item">
                    <div class=" payback-calc-items__item-title">
                        Прибыль за месяц
                    </div>
                    <div class=" payback-calc-items__item-price">
                        <span data-price="150000"  class="js-monthly-profit">150000</span> ₽
                    </div>
                </div>

                <div class="payback-calc-items__item">
                    <div class="payback-calc-items__item-title">
                        Прибыль за год
                    </div>
                    <div class="payback-calc-items__item-price">
                        <span class="js-year-profit" data-price="1800000">1800000</span> ₽
                    </div>
                </div>

            </div>
            <a href="#footer" class="scroll-link button">
                <span>Отправить заявку</span>
            </a>
        </div>
    </div>

</section>