<section class="reviews" id="reviews">
  <div class="container">
    <h3>Отзывы франчайзи</h3>
  </div>

  <div class="reviews-sliders">

    <div class="swiper-container reviews-slider-1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Георгий</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card2.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Инна</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card3.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Алла</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-container reviews-slider-2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card4.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Вадим</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Георгий</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-card">
            <img src="img/review-card2.png" alt="">
            <div class="reviews-card__content">
              <div class="reviews-card__title">Светлана</div>
              <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>