<div class="popup-thankyou">
    <div class="popup-thankyou__wrap">
        <button class="js-popup-close popup-close">×</button>
        <img src="img/thankyou.png" alt="" class="popup-thankyou__img">
        <div class="popup-thankyou__title">Ваша заявка принята</div>
        <div class="popup-thankyou__subtitle">Мы свяжемся с Вами в ближайшее время</div>

        <button class="js-popup-close button">спасибо</button>
    </div>
</div>