<section class="total" id="total">
    <img src="img/summary_smoke.png" class="smoke-bg">
    <h3 class="total__title">Итог</h3>
    <div class="container">
        <div class="total__content">
            <div class="total__item-wrap">
                <div class="total-item total-item--time"></div>
                <span>Окупаемость до 12 месяцев</span>
            </div>

            <div class="total__item-wrap">
                <div class="total-item total-item--download"></div>
                <span>Начальные инвестиции от1.5 млн р.</span>
            </div>

            <div class="total__item-wrap">
                <div class="total-item total-item--rent"></div>
                <span>Рентабельность 50%</span>
            </div>


        </div>
    </div>
</section>