<section class="why-buy" id="why-buy">
    <div class="container why-buy__wrap">
        <h2 class="why-buy__title">
            Почему стоит купить нашу франшизу
        </h2>


        <div class="why-buy-sliders">
            <div class="why-buy-sliders__img-slider">
                <div class="square-small"></div>
                <div class="square-big"></div>
                <div class="js-why-slider-button button-arrow"><span></span></div>
                <div class="swiper-container why-buy-img-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/slider1.jpg" alt="" class="why-buy-img-slider__img"></div>
                        <div class="swiper-slide"><img src="img/slider2.jpg" alt="" class="why-buy-img-slider__img"></div>
                        <div class="swiper-slide"><img src="img/slider1.jpg" alt="" class="why-buy-img-slider__img"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-container why-buy-text-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3>Узнаваемость бренда</h3>
                        <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст не создан.
                            Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены с
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <h3>Узнаваемость бренда</h3>
                        <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производствеми при написании музыки. Они напевают его перед тем, как сочинены с Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem placeat, tenetur necessitatibus molestiae nisi impedit eaque pariatur suscipit saepe enim, itaque iure laborum id rem modi corrupti provident excepturi. At!
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <h3>Узнаваемость бренда</h3>
                        <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст не создан.
                            Рыбный текст также известен как текст-заполнитель или же текст-наполнитель. Иногда текст-«рыба» также используется композиторами при написании музыки. Они напевают его перед тем, как сочинены с
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>