<section class="work-experience" id="work-experience">

    <img src="img/work-exp.jpg" alt="" class="work-experience-bg">
    <img src="img/demand-bg.jpg" alt="" class="work-experience-bg">



    <div class="container">
        <div class="work-experience__wrap">
            <h3>Опыт работы</h3>
            <div class="work-experience__item text-border">
                <div class="text-border__title">
                    6 лет
                </div>
            </div>
            <p>
                Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или
                производстве веб-сайтов, пока финальный текст не создан.
            </p>
        </div>

    </div>




</section>